
.contactCTA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem var(--padding-page-horizontal);
    background: var(--gradient-color);
    gap: 10%;
}

.contactCTA > h3 {
    color: var(--text-color-white);
    font-weight: 600;
}

.contactCTA > .Link {
    border: none;
    border-radius: var(--button-border-radius);
    background: var(--text-color-white);
    transition: transform 250ms ease-in-out;
    text-wrap: nowrap;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    font-size: var(--button-text);
    color: var(--gradient-color);
    text-align: center;
}

.contactCTA > .Link:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 1440px){
    .contactCTA {
        gap: 5%;
    }
}
@media screen and (max-width: 767px) {
    .contactCTA {
        flex-direction: column;
        gap: var(--gap-content);
        text-align: center;
    }
}