
.corePrincipals {
    display: flex;
    gap: var(--gap-title);
    flex-direction: column;
    padding: var(--padding-page-vertical) var(--padding-page-horizontal);
}
.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*gap: var(--gap-title);*/
}
.principal > p {
    width: 70%;
    margin-left: var(--gap-title);
}
.principal > h1 {
    margin-right: auto;
}
.principal > div {
    height: 100%;
    width: 0.2rem;
    background: var(--gradient-color);
    border-radius: var(--button-border-radius);
}

@media screen and (max-width: 1440px) {
    .principal > p {
        width: 60%;
        margin-left: var(--gap-title);
    }
}

@media screen and (max-width: 767px) {
    .principal {
        flex-direction: column;
        align-items: center;
        gap: var(--gap-content);
    }
    .principal > p {
        width: 100%;
        margin-left: 0;
    }
    .principal > div {
        display: none;
    }
}