
.ourWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-page-vertical) var(--padding-page-horizontal);
    padding-top: 2rem;
    gap: var(--gap-title);
}

.ourWorkTextWrapper {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.ourWorkText {
    display: flex;
    flex-direction: column;
    gap: var(--gap-content);
}

.ourWorkButtonWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.ourWorkButtonWrapper > .Link {
    border: none;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    width: fit-content;
    font-size: var(--button-text);
    text-align: center;
}

.ourWorkButtonWrapper > .Link:first-child {
    background: var(--gradient-color);
    border-radius: var(--button-border-radius);
    transition: transform 250ms ease-in-out;
}

.ourWorkButtonWrapper > .Link:first-child:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.ourWorkButtonWrapper > .Link:last-child {
    border: 3px solid;
    border-image: var(--gradient-color) 1;
    background: none;
    transition: transform 250ms ease-in-out;
    color: #000092;
}

.ourWorkButtonWrapper > .Link:last-child:hover {
    transform: scale(0.9);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .ourWorkTextWrapper {
        flex-direction: column;
        gap: var(--gap-content);
    }
}