@font-face {
  font-family: 'Montserrat';
  src: url("./assets/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("./assets/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("./assets/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("./assets/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  /*overflow-x: hidden; !* Temporarily hides horizontal overflow *!*/
}

:root {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #eee;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #eee;
  --text-color-black: #202020;
  --text-color-white: #f8f8f8;
  --gradient-color: linear-gradient(45deg, #000092 10%, #000052 35%, #000092 90%);
  --padding-page-horizontal: 10rem;
  --padding-page-vertical: 4rem;
  --gap-title: 4rem;
  --gap-content: 1rem;
  --button-text: 1.3rem;
  --button-padding-vertical: 0.4rem;
  --button-padding-horizontal: 4rem;
  --button-border-radius: 2px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button > * {
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
body {
  margin: 0;
  /*width: 100vh;*/
  /*overflow: hidden;*/
}
button > * {
  text-decoration: none;
  color: var(--text-color-white);
}
.Link {
  text-decoration: none;
  color: var(--text-color-white);
  font-weight: 500;
}

@media screen and (max-width: 1440px) {
  :root {
    font-size: 16px;

    --padding-page-horizontal: 5rem;
    --button-padding-horizontal: 3rem;
    --gap-title: 3rem;
  }
}

@media screen and (max-width: 767px) {
  :root {
    font-size: 14px;

    --padding-page-horizontal: 2rem;
    /*--gap-title: 2rem;*/
  }
}